.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.nav-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-button {
  margin-left: 1rem;
  margin-right: 1rem;
}

input[type=search] {
  box-shadow: none;
}
